# We're mounting a volume when running the container so only add things here needed for building

# Ignore everything
**

# Add exclusions for anything that should be un-ignored
!docs/Gemfile
!docs/Gemfile.lock