<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoProWebcamViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings>
    </system.net>
    <userSettings>
        <GoProWebcamViewer.Properties.Settings>
            <setting name="FTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
        </GoProWebcamViewer.Properties.Settings>
    </userSettings>
</configuration>