[MASTER]

load-plugins=pylint.extensions.check_docs
accept-no-param-doc=no
accept-no-return-doc=no
default-docstring-type=google

ignore=tests,proto


[MESSAGES CONTROL]

disable=
    too-many-nested-blocks,
    unspecified-encoding,
    consider-using-with,
    abstract-method, # Pylint incorrectly assumes any function that raises NotImplementedError is abstract. We let mypy check for ABC errors.
    cyclic-import,
    missing-raises-doc,
    useless-type-doc,
    useless-param-doc,
    redundant-returns-doc,
    logging-fstring-interpolation,
    logging-format-interpolation,
    duplicate-code,
    global-statement,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-branches,
    too-many-locals,
    too-many-lines,
    too-many-statements,
    fixme,
    protected-access, # Maybe fix this one
    invalid-name # We are passing these except for <= 2 character variable names. Should be able to configure via http://pylint.pycqa.org/en/1.9/user_guide/options.html#cmdoption-variable-rgx

[FORMAT]

max-line-length=160