.wy-nav-content {
    max-width: 1200px !important;
}

.btn-link:visited {
    color: #3c6779 !important;
}

.protobuf {
    display: grid !important;

    dd {
        img:first-of-type {
            padding-left: 1em;
        }
    }
}

.tlv-command {
    display: grid !important;

    dd {
        img:first-of-type {
            padding-left: 1em;
        }
    }
}
